<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <name>Validasi</name>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- v-on bs disingkat pake @, modifier prevent u/ tdk reload saat submit -->
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label>Name</label>
            <input type="text" name="name" v-model="name" ref="name" :disabled="buttonSubmit == 'upload'">
            <label>Address</label>
            <textarea type="text" name="address" v-model="address" ref="address" :disabled="buttonSubmit == 'upload'"></textarea>
            <label>Phone Number</label>
            <input type="text" name="phone" v-model="phone" ref="phone" :disabled="buttonSubmit == 'upload'"><br><br>
            <div v-if="buttonSubmit == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonSubmit == 'update'">
                <input type="button" value="UPDATE" @click="updateData()" style="margin: 0px 10px 10px 0px;">
                <input type="button" value="CANCEL" @click="clearForm">
            </div>
            <div v-else-if="buttonSubmit == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="uploadPhoto(idEdit)" style="margin: 10px 10px 10px 0px;">
                <input type="button" value="CANCEL" @click="clearForm">
            </div>
        </form>

        <br><br>

        <table border="1">
            <tr>
                <td>Photo</td>
                <td>Name</td>
                <td>Adress</td>
                <td>Phone Number</td>
                <td>Action</td>
            </tr>
            <tr v-for="data in member">
                <td>
                    <img width="100" :src="data.photo_profile ? photoDomain + data.photo_profile : 'https://dummyimage.com/16:9x1000'" alt="">
                </td>
                <td><b>{{ data.name }}</b></td>
                <td><b>{{ data.address }}</b></td>
                <td><b>{{ data.no_hp }}</b></td>
                <td>
                    <button @click="editButton(data)">Edit</button>
                    <button @click="deleteData(data.id)">Hapus</button>
                    <button @click="photoButton(data)">Upload Foto</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                phone: '',
                photo: '',
                errors: [],
                member: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonSubmit: 'submit',
                idEdit: null,
                search: '',
            },
            methods: {
                clearForm(){
                    this.name = ''
                    this.address = ''
                    this.phone = ''
                    this.errors = []
                    this.buttonSubmit = 'submit'
                },
                validationForm : function(){
                    if(this.name.length > 30){
                        this.$refs.name.focus()
                        this.errors.push('name maximal 30 character')
                    }
                    if(this.address.length > 50){
                        this.$refs.address.focus()
                        this.errors.push('address maximum is 50 character')
                    }
                    if(this.phone.length > 12){
                        this.$refs.phone.focus()
                        this.errors.push('phone number maximum is 12')
                    }
                    if(this.phone.length < 10){
                        this.$refs.phone.focus()
                        this.errors.push('phone number minimum is 10')
                    }
                    if(
                        this.name.length > 5 && 
                        this.address.length > 0 && 
                        this.phone.length > 0
                    ){this.errors = []}
                },
                formatData : function(){
                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('address', this.address)
                    formData.append('no_hp', this.phone)
                    return formData
                },
                formatEdit : function(data){
                    this.idEdit = data.id
                    this.name = data.name
                    this.address = data.address
                    this.phone = data.no_hp
                },
                submitForm : function(){
                    this.validationForm()
                    if(!this.errors.length){
                        // alert('Terima kasih sudah mengisi dengan benar')
                        
                        const config = {
                        method : 'post',
                        url    : 'http://demo-api-vue.sanbercloud.com/api/member',
                        data   :  this.formatData()
                        
                    }
                    axios(config)
                        .then((res)=> {
                            this.clearForm()
                            this.getData()
                        })
                        .catch((err)=> {
                            console.log(err)
                        })
                    }
                },

                getData : function(){
                    const config = {
                        method : 'get',
                        url    : 'http://demo-api-vue.sanbercloud.com/api/member'
                    }

                    axios(config)
                        .then((res)=> {
                            this.member = res.data.members
                        })
                        .catch((err)=> {
                            console.log(err)
                        })
                },
                editButton : function(data){
                    this.formatEdit(data)
                    this.buttonSubmit = 'update'
                },
                updateData : function(){
                    this.validationForm()
                    if(!this.errors.length){
                        const config = {
                            method : 'post',
                            url    : `http://demo-api-vue.sanbercloud.com/api/member/${this.idEdit}`,
                            params : {_method: 'PUT'},
                            data   : this.formatData()
                        }
                    axios(config)
                        .then((res)=>{
                            this.clearForm()
                            this.getData()
                            alert('Data berhasil diedit ! !')
                        })
                        .catch((err)=>{
                            console.log(err)
                        })
                    }
                },
                deleteData : function(id){
                    const config = {
                            method : 'post',
                            url    : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params : {_method: 'DELETE'},
                        }

                    axios(config)
                        .then((res)=>{
                            this.clearForm()
                            this.getData()
                            alert('Data berhasil dihapus ! !')
                        })
                        .catch((err)=>{
                            console.log(err)
                        })
                },
                photoButton : function(data){
                    this.formatEdit(data)
                    this.buttonSubmit = 'upload' 
                },
                uploadPhoto : function(id){
                    let file = this.$refs.photo.files[0]
                    let formatData = new FormData()
                    formatData.append('photo_profile', file)
                    
                    let config = {
                        method : 'post',
                        url    : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data   : formatData
                    }

                    axios(config)
                        .then((res)=> {
                            this.clearForm()
                            this.getData()
                            alert('foto berhasil diupload ! !')
                        })
                        .catch((err)=>{
                            console.log(err)
                        })
                }
            },
            created(){
                this.getData()
            }
        })
    </script>
</body>
</html>