<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Binding</title>
</head>
<body>
    <div id="app">
        <form action="">
            <!-- v-bind -->
            <input type="text" name="name" v-bind:value="name" v-on:input="name = $event.target.value">
            <p>My name is {{ name }}</p><br>

            <!-- cara singkat pake v-model -->
            <input type="text" name="message" v-model="message" placeholder="edit me">
            <p>Message is : {{message}}</p><br>

            <!-- multiple line text -->
            <textarea v-model="motivasi" placeholder="add multiple lines"></textarea>
            <br><span>Multiline text is: {{motivasi}}</span><br>

            <!-- checkbox -->
            <br><input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox">{{ checked }}</label><br>

            <!-- Multiple checkbox -->
            <br><input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span><br>

            <!-- Radio -->
            <br><input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span><br>

            <!-- Select -->
            <br><select v-model="selectedOne">
                <option disabled value="">Please select one</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select><br>
            <span>Selected: {{ selectedOne }}</span><br>

            <!-- Multiple Select -->
            <br><select v-model="selectedMultiple" multiple>
                <option disabled value="">Please select one</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select><br>
            <span>Selected: {{ selectedMultiple }}</span><br>

            <!-- Select with loop -->
            <br><select v-model="selectedLoop">
            <option disabled value="">Please select one</option>
            <option v-for="item in options" v-bind:value="item.value">
                {{ item.text }}
            </option>
            </select>
            <span>Selected: {{ selectedLoop }}</span><br>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                name: 'Fariz Fahmi Faturachmad',
                message: 'Jangan lupa sholat',
                motivasi: 'Ingat akan kematian',
                checked : false,
                checkedNames: [],
                picked: '',
                selectedOne: '',
                selectedMultiple: '',
                selectedLoop: '',
                options: [
                    {text: 'Jakarta', value: 'Area 1'}, 
                    {text: 'Bandung', value: 'Area 2'}, 
                    {text: 'Pasuruan', value: 'Area 3'}
                ]
            }
        })
    </script>
</body>
</html>