<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier</title>
</head>
<body>
    <div id="app">
        <!-- Lazy Modifier -->
        <!-- langsung tampil waktu ngetik -->
        <input type="text" v-model='biasa1'>
        <p>{{biasa1}}</p>

        <!-- tidak langsung tampil waktu ngetik -->
        <input type="text" v-model.lazy='msg1'>
        <p>{{msg1}}</p>
        <!-- End Lazy Modifier -->

        <!-- Number Modifier -->
        <!-- cek di console, app.age bakal jadi angka/float -->
        <input v-model.number="age" type="number"><br>
        <!-- End Number Modifier -->

        <!-- Trim Modifier -->
        <!-- Menghilang spasi di awal dan akhir kalimat -->
        <br><input v-model.trim="msg2">
        <p>{{msg2}}</p>
        <!-- End Trim Modifier -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                biasa1: '',
                msg1: '',
                age: null,
                msg2: ''
            }
        })
    </script>
</body>
</html>