<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Submit</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- v-on bs disingkat pake @, modifier prevent u/ tdk reload saat submit -->
        <form @submit.prevent="submitForm()"> 
            <label>Title : {{ title }}</label>
            <input type="text" name="title" v-model="title">
            <label>Description : {{ desc }}</label>
            <textarea type="text" name="desc" v-model="desc"></textarea>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: '',
                desc: ''
            },
            methods: {
                submitForm : function(){
                    console.log('masuk')
                }
            },
        })
    </script>
</body>
</html>