<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validasi</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- v-on bs disingkat pake @, modifier prevent u/ tdk reload saat submit -->
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label>Title : {{ title }}</label>
            <input type="text" name="title" v-model="title" ref="title">
            <label>Description : {{ desc }}</label>
            <textarea type="text" name="desc" v-model="desc" ref="desc"></textarea>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: '',
                desc: '',
                errors: []
            },
            methods: {
                submitForm : function(){
                    if(this.title.length < 5){
                        this.$refs.title.focus()
                        this.errors.push('Title minimal 5 character')
                    }
                    if(this.desc.length > 10){
                        this.$refs.desc.focus()
                        this.errors.push('Desription maximal 10 character')
                    }
                    if(!this.errors.length){
                        alert('Terima kasih sudah mengisi dengan benar')
                    }
                }
            },
        })
    </script>
</body>
</html>