<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deklarasi Data pada Component</title>
</head>
<body>
    <!-- Registrasi Local -->
    <div id="app1">
        <h1>App 1</h1>

        <!-- global -->
        <component-satu></component-satu>

        <!-- local -->
        <component-a></component-a>

    </div>

    <template id="component-satu">
        <p>{{ pesan }}</p>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        // Implementasi pada component global
        Vue.component('component-satu', {
            template: '#component-satu',
            data(){
                return {
                    pesan: 'ini data dari component global'
                }
            }
        })

        // Implementasi pada component local
        var componentA = {
            template: '<p>{{ pesan }}</p>',
            data(){
                return {
                    pesan: 'Ini data dari component lokal A'
                }
            }
        }

        new Vue({
            el : '#app1',
            components: {
                'component-a': componentA
            },
            data: {
                message: 'ini cara lama deklarasi data pada component'
            }
        })
    </script>
</body>
</html>