<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Data Parent to Component Child</title>
</head>
<body>
    <div id="app1">
        <h1>App 1</h1>

        <!-- child component -->
        <component-blog 
        v-for="blog in blogs"
        :blog="blog"
        ></component-blog>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        // Implementasi pada component local
        var componentBlog = { //Child Component
            //template harus dibungkus dengan div / parent node
            template: `
            <div>
                <h1>{{ blog.title }}</h1>
                <p>{{ blog.content }}</p>
            </div>
            `,
            data(){
                return {
                    pesan: 'Ini data dari component lokal A'
                }
            },
            //transfer data pakai props, props == child component
            props: ['blog'] //data child
        }

        const vm = new Vue({
            el : '#app1',
            components: {
                'component-blog': componentBlog
            },
            data: { 
                blogs: [ //data parent
                    {
                        title: 'Judul 1',
                        content: 'Content 1'
                    },
                    {
                        title: 'Judul 2',
                        content: 'Content 2'
                    }
                ]
            }
        })
    </script>
</body>
</html>