<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <component-blog>
            <!-- ambilData == mengambil data di v-bind -->
            <template v-slot:title="ambilData">
                {{ ambilData.Blogs[1].title }}
            </template>
            <template v-slot:content="ambilData">
                {{ ambilData.Blogs[1].content }}
            </template>
        </component-blog>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        //penamaan v-bind harus sama, Blogs="Blogs"
        var componentBlog = {
            template: `
            <div>
                <b>Judul : </b><slot name="title" v-bind:Blogs="Blogs">
                    {{ Blogs[0].title }}
                </slot>
                <br>
                <b>Content : </b><slot name="content" v-bind:Blogs="Blogs">
                    {{ Blogs[0].content }}
                </slot>  
            </div>
            `,
            data(){
                return {
                    Blogs: [
                        {
                            title: 'Ini Judul Pertama',
                            content: 'Ini Content Pertama',
                        },
                        {
                            title: 'Ini Judul Kedua',
                            content: 'Ini Content Kedua',
                        }
                    ]
                }
            }
        }

        const vm = new Vue({
            el: '#app',
            components: {
                'component-blog': componentBlog 
            } 
        })
    </script>
</body>
</html>