<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Data Child Component to Parent</title>
</head>
<body>
    <div id="app1">
        <h1>App 1</h1>
        <h2>Blog yang dipilih : {{ selectedBlog }}</h2>
        <!-- child component -->
        <component-blog 
        v-for="blog in blogs"
        :blog="blog"
        @anjay="selectedBlog = $event" 
        ></component-blog>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module">
        import { componentBlog } from './componentBlog.js' 

        const vm = new Vue({
            el : '#app1',
            components: {
                'component-blog': componentBlog
            },
            data: { 
                blogs: [ //data parent
                    {
                        title: 'Judul 1',
                        content: 'Content 1'
                    },
                    {
                        title: 'Judul 2',
                        content: 'Content 2'
                    }
                ],
                selectedBlog: ''
            }
        })
    </script>
</body>
</html>