<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="condition">
        <input type="text" v-model="nama" placeholder="input nama disini">
        <button @click="addData()">add</button>
    </div>
    <div v-if="!condition">
        <input type="text" v-model="edit" placeholder="input nama disini">
        <button @click="editData()">Update</button>
    </div>

    <ul v-for="(data, index) in users">
        <li>
            {{ data.nama }}
            <button @click="showData(index)">Edit</button>
            <button @click="deleteData(index)">Delete</button>
        </li>
    </ul>

    <div v-if="!users.length">
        <h1 style="text-align: center;">Tidak ada data yang tersimpan</h1>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        index : '',
        nama : '',
        edit: '',
        condition : true,
        users : [
            {nama : 'Muhammad Iqbal Mubarok'},
            {nama : 'Ruby Purwanti'},
            {nama : 'Faqih Muhammad'}
        ]
      },
      methods : {
          addData : function(){
            let tmp = {}
            tmp.nama = this.nama
            this.users.push(tmp)
            this.nama = ''
          },
          showData : function(index){
            this.condition = false
            this.nama = this.users[index].nama
            this.edit = this.users[index].nama
            this.index = index
          },
          editData : function(){
            this.users[this.index].nama = this.edit
            this.nama = ''
            this.condition = true
          },
          deleteData : function(index){
            this.users.splice(index, 1)
          }
      }
  })
  </script>
</body>
</html>