<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validasi</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- v-on bs disingkat pake @, modifier prevent u/ tdk reload saat submit -->
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>
            <label>Title : {{ title }}</label>
            <input type="text" name="title" v-model="title" ref="title">
            <label>Price : {{ price }}</label>
            <textarea type="text" name="price" v-model="price" ref="price"></textarea>
            <div v-if="buttonSubmit == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonSubmit == 'update'">
                <input type="button" value="UPDATE" @click="updateData()">
                <input type="button" value="CANCEL" @click="editCancel()">
            </div>
        </form>

        <br><br>

        <table border="1">
            <tr>
                <td>Gambar</td>
                <td>Nama Barang</td>
                <td>Harga</td>
                <td>Action</td>
            </tr>
            <tr v-for="data in barang">
                <td>
                    <img width="100" src="https://dummyimage.com/16:9x1000" alt="">
                </td>
                <td><b>{{ data.nama }}</b></td>
                <td><b>{{ data.harga }}</b></td>
                <td>
                    <button @click="editButton(data)">Edit</button>
                    <button @click="deleteData(data.id)">Hapus</button>
                    <button>Upload Foto</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: '',
                price: '',
                errors: [],
                barang: [],
                buttonSubmit: 'submit',
                idEdit: null,
            },
            methods: {
                clearForm(){
                    this.title = ''
                    this.price = ''
                    this.errors = []
                },
                validationForm : function(){
                    if(this.title.length < 5){
                        this.$refs.title.focus()
                        this.errors.push('Title minimal 5 character')
                    }
                    if(this.price.length <= 0){
                        this.$refs.price.focus()
                        this.errors.push('Price cant be empty')
                    }
                    if(this.title.length > 5 && this.price.length > 0){
                        this.errors = []
                    }
                },
                submitForm : function(){
                    this.validationForm()
                    if(!this.errors.length){
                        // alert('Terima kasih sudah mengisi dengan benar')
                        let formData = new FormData()
                        formData.append('nama', this.title)
                        formData.append('harga', this.price)

                        const config = {
                        method : 'post',
                        url    : 'http://localhost:8000/api/barang/new/data',
                        data   : formData
                        
                    }
                    axios(config)
                        .then((res)=> {
                            this.clearForm()
                            this.getData()
                            console.log(res.data)
                        })
                        .catch((err)=> {
                            console.log(err)
                        })
                    }
                },

                getData : function(){
                    const config = {
                        method : 'get',
                        url    : 'http://localhost:8000/api/barang/get/all'
                    }

                    axios(config)
                        .then((res)=> {
                            this.barang = []
                            for(let i = 0; i <= res.data.data.length; i++){
                                this.barang.push({
                                    id   : res.data.data[i].id,
                                    nama : res.data.data[i].nama,
                                    harga: res.data.data[i].harga
                                })
                            }
                        })
                        .catch((err)=> {
                            console.log(err)
                        })
                },
                editButton : function(data){
                    this.idEdit = data.id
                    this.title = data.nama
                    this.price = data.harga
                    this.buttonSubmit = 'update'
                },
                editCancel : function(){
                    this.clearForm()
                    this.buttonSubmit = 'submit'
                },
                updateData : function(){
                    this.validationForm()
                    if(!this.errors.length){
                        const config = {
                            method : 'put',
                            url    : `http://localhost:8000/api/barang/${this.idEdit}`,
                            data   : {
                                'nama' : this.title,
                                'harga' : this.price
                            },
                        }
                    axios(config)
                        .then((res)=>{
                            this.editCancel()
                            this.getData()
                            alert('Data berhasil diedit ! !')
                        })
                        .catch((err)=>{
                            console.log(err)
                        })
                    }
                },
                deleteData : function(id){
                    const config = {
                        method : 'delete',
                        url    : `http://localhost:8000/api/barang/${id}`
                    }

                    axios(config)
                        .then((res)=>{
                            this.getData()
                            alert('Data berhasil dihapus ! !')
                        })
                        .catch((err)=>{
                            console.log(err)
                        })
                },
            },
            created(){
                this.getData()
            }
        })
    </script>
</body>
</html>